body{
    font-family: 'Spartan',
    sans-serif;
    font-size: 15px;
    font-weight: 500;
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    align-items:right;
    padding: 4%;
    height: 100vh;
}

/* Top */

.title{
    text-align: left;
    padding: 0% 4%;
    font-size: 3.3rem;
    font-weight: 900;
    color: hsl(300, 43%, 22%);
}

.title-info{
    color: gray;
}

/* Rating */

.col{
    padding: 0;
}

.review-star{
    display: inline-block;
}

.review-text{
    display: inline-block;
    position: relative;
    font-size: 1rem;
}

.rating{
    text-align: left;
    margin: 0;
    font-weight: 500;
    color: hsl(300, 43%, 22%);
}

.rat-1{
     background-color: hsl(300, 24%, 96%);
     margin-left: 10%;
     padding: 3% 2% 0;
     margin-right: 20%;
     margin-bottom: 4%;
}

.rat-2{
     background-color: hsl(300, 24%, 96%);
     padding: 3% 2% 0;
     margin-left: 20%;
     margin-right: 10%;
     margin-bottom: 4%;
}

.rat-3{
    padding: 3% 2% 0;
    background-color: hsl(300, 24%, 96%);
    margin-left: 30%;
}

/* Card */

.card{
    background-color: hsl(300, 43%, 22%);
    font-size: 10px;
    box-shadow: 5px 10px 15px #2222332c;
    color: white;
    margin: 3%;
    border-radius: 10px;
}

.card-1{
    margin-top: 1%;
     margin-left: 0;
     margin-right: 0;
    padding: 3%;
}

.card-2{
    margin-top: 6%;
     margin-left: 0;
     margin-right: 0;
    padding: 3%;
}

.card-3{
    margin-top: 11%;
     margin-left: 0;
     margin-right: 0;
    padding: 3%;
}

.top-card{
    padding: 10% 2% 7%;
}

.info-user{
    font-size: 10px;
    font-weight: 500;
    color: hsl(333, 80%, 67%);
}

.user-img{
    border-radius: 50%;
}

.name{
    margin-left: 3%;
    display: inline-block;
}

.info-title{
    font-weight: 900;
}

.btm-card{
    font-size: 14px;
    padding: 3%;
}

@media (max-width:980px) {
    .title{
        text-align: center;
    }

    .title-info{
        text-align: center;
    }

    .review-text{
        display: block;
    }

    .rating{
        text-align: center;
    }

    .rat-1{
        margin-left: 0;
        margin-right: 0;
    }

    .rat-2{
        margin-left: 0;
        margin-right: 0;
    }

    .rat-3{
        margin-left: 0;
        margin-right: 0;
    }

    .card-1{
        margin-top: 0;
    }
    
    .card-2{
        margin-top: 0;
    }

    .card-3{
        margin-top: 0;
    }

    .top-card{
        padding: 0;
    }

    .btm-card{
        font-size: 15px;
        padding: 0;
    }
}
